{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Blog Application</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>

    <body class="container">
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'blog' %}">
                        Blogs
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'about-us' %}">
                            About us
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'contact-us' %}">
                        Contact us
                        </a>
                    </li>
                </ul>
            </nav>
        </header>


        <main class="content">
            {% block content %}

            {% endblock %}
        </main>


        <footer>
            <h3 class="logo">Django Blog</h3>
        </footer>
    </body>

</html>