* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    margin: 16px 0;
}

nav li {
    color: black;
    display: inline;
    margin: 0 32px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

nav li a {
    color: inherit !important;
    text-decoration: none !important;
}

nav li:hover {
    color: blue;
}

.content {
    min-height: 600px;
}

.page-title {
    font-size: 32px;
    margin-bottom: 16px;
    text-align: center;
    color: rgb(76, 81, 234);
}

.page-paragraph {
    text-align: center
}


.card-container {
    display: flex;
    gap: 16px;
}

.card {
    border: 1px solid gray;
    padding: 16px;
    border-radius: 8px;
}

.card-image {
    width: 200px;
    height: 300px;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.card-text {
    font-size: 14px;
    color: rgb(75, 74, 74)
}

.card-info {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
}

.card-button {
    padding: 8px 12px;
    color: #fff;
    background-color: rgb(68, 68, 192);
    border-radius: 4px;
    border: 1px solid rgb(68, 68, 192)
}

.blog-container {
    width: 80%;
    margin: 16px auto;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 8px;
}

.blog-info {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.blog-content {
    margin-top: 20px;
}

.badge {
    padding: 4px 12px;
    border: 1px solid gray;
    border-radius: 24px;
}

.badge.badge-author {
    background-color: rgb(123, 201, 201);
}

.badge.badge-date {
    background-color: aquamarine;
}

.fa-solid.fa-star {
    color: rgb(248, 248, 5);
}

.related-blog-container {
    width: 80%;
    margin: auto;
}

.contact-container {
    width: 40%;
    margin:auto;
    border:1px solid gray;
    border-radius: 8px;
    padding:20px;
}

.form-group {
    margin:8px 0;
}
 input:not([type='radio']),  textarea {
    display: block;
    padding:5px;
    width:100%;
    border-radius:6px;
}

.register-button {
    padding:8px 12px;
    border-radius: 4px;
    background-color: rgb(79, 79, 227);
    border: 1px solid rgb(79, 79, 227);
    color: #fff;
}

.errorlist {
    color: red;
}

footer .logo {
    color: red;
}